* {
	margin :0! important;
	padding: 0! important;
	box-sizing: border-box;
}

.error{
    color: red;
    font-size: 15px;
}

.user{
    color: blue;
    font-size: 15px;
}

.card.w-100.py-5 {
	padding: 0 25% !important;
}

.userForm {
	margin: 0 25% !important;
}

.regsub {
	margin: 0 13% !important;
}

.mt-4 button {
	margin: 0 35% !important;
}

.mt-3 button {
	margin: 0 !important;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}

tr, th, td {
	padding: 10px 15px !important;
}

th {
	font-size: 20px;
}

th.th01 {
	font-size: 25px; 
	text-decoration: underline;
}
td {
	font-size: 15px;
}

body,
.bg-gray {
	background: #e5e4e4;
}

input[type="checked"] {
	border: 0px;
}

.col-md-7 input {
	padding: 1rem !important;
}

.col-md-7 select {
	
	padding-left: 1rem !important;
}

.form-control.float-left,
.col-md-7 span input {
    width: 8%;
    height: 65%;
    margin-left: 3%! important;
}

.col-md-7 span label {
	margin-left: 1% !important;
}

.has-error {
	color: red;
	text-align: center;
}

.m25 {
	margin-left: 10% !important;
}
.f25 {
	font-size: 25px;
}
.f16 {
	font-size: 16px;
	text-decoration: underline;
}
.new-eff {
	width: 20px;
	height: 20px;
}
.borderzero tr, td, th, .borderzero label{
	border: 0 !important;
	background: transparent;
}
