<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sursa - Login</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>

<body class="bg-gray">
	<div class="form-group row w-100 text-left p-3">
		<a th:href="@{/}" class="btn btn-primary p-2">Home</a>
	</div>
	<div class="container col-12">
		<div class="row col-12">
			<div class="card w-100 py-5 mb-5">
				<form th:action="@{/login}" method="POST" class="userForm w-100"
					style="margin-left: 25%">
					<div class="form-group w-50">
						<div class="text-center">
							<h2 class="pt-5 pb-4">Login Form</h2>
						</div>

						<div class="form-group row p-0 m-0">
							<div class="w-100 my-3">
								<input type="text" id="email" name="email"
									th:placeholder="Email" class="form-control p-3" />
							</div>
							<div class="w-100 my-3">
								<input type="password" th:placeholder="Password" id="password"
									name="password" class="form-control p-3" /> <br />
							</div>
						</div>

						<div align="center" th:if="${param.error}">
							<p class="f16 text-center text-danger">Email or Password is
								invalid.</p>
						</div>
						<div class="mt-4">
							<button
								class="btn btn-lg btn-primary btn-block w-25 my-5 form-group loginsub p-2"
								type="submit" th:text="Login"></button>
						</div>

						<div class="form-group w-100 text-center pt-4 pb-5">
							<a th:href="@{/register}">Create an account</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>