<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sursa - Registration Form</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body class="bg-gray">
	<div class="form-group row w-100 text-left p-3">
		<a th:href="@{/}" class="btn btn-primary p-2">Home</a>
	</div>
	<div class="container col-12">
		<div class="row col-12">
			<div class="card w-100 py-5 mb-5">
				<form autocomplete="off" action="#" th:action="@{/register}"
					th:object="${user}" method="post" role="form"
					class="userForm w-100 pb-5" style="margin-left: 25%">

					<div class="form-group text-left ml-5">
						<h2 class="pt-5 pb-4">Registration Form</h2>
					</div>
					<div class="form-group row w-50 my-4">
						<input type="text" th:field="*{name}" placeholder="Name"
							class="form-control p-3" />
					</div>
					<div class="form-group row w-50 my-4">
						<input type="text" th:field="*{lastName}" placeholder="Last Name"
							class="form-control p-3" />
					</div>
					<div class="form-group row w-50 my-4">
						<input type="text" th:field="*{email}" placeholder="Email"
							class="form-control p-3" />
					</div>
					<div class="form-group row w-50 my-4">
						<input type="password" th:field="*{password}"
							placeholder="Password" class="form-control p-3" />
					</div>

					<div class="form-group row">
						<button
							class="btn btn-lg btn-primary btn-block w-25 regsub form-group p-1 mb-4"
							type="submit" th:text="Register"></button>
					</div>
					<div class="form-group w-50 text-center">
						<a th:href="@{/login}">Have an account? Login</a>
					</div>

					<span th:utext="${successMessage}"></span>
					<div class="alert alert-success alert-dismissible col-sm-12"
						th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">×</button>
						<ul th:each="data : ${bindingResult.getAllErrors()}">
							<li
								th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}">
							</li>
						</ul>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>