<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees List</title>

<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>


<body>
	<div class="container col-12">
		<div class="row col-12">
			<div class="card w-100 py-4 bg-gray">
				<h1 class="w-100 text-primary text-info text-center py-3">List of Employees</h1>
				<hr/>

				<!-- Important Links at the top -->
				<div class="form-group row">
					<table class="table p-3 mx-5">
						<tr>
							<th class="th01"><a th:href="@{/create}">Add New
									employee</a></th>
							<th class="th01 float-right"><a href="#">Show Attendance</a></th>
						</tr>
					</table>
				</div>

				<!-- Form displaying the list of employees -->
				<form th:object="${employee}" class="w-100 px-5">
					<table class="table mt-3">
						<tr class="bg-success text-white">
							<th>Id</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Sex</th>
							<th>Date Modified</th>
							<th>Email</th>
							<th>Section</th>
							<th>Country</th>
							<th colspan="2">Actions</th>
						</tr>

						<tr th:each="employee : ${list}" class="bg-white">
							<td th:text="${employee.id}"></td>
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.sex}"></td>
							<td th:text="${employee.createdAt}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.section}"></td>
							<td th:text="${employee.country}"></td>

							<td><a th:href="@{'/edit/employee/' + ${employee.id}}">Edit</a></td>
							<td><a th:href="@{'/delete/employee/' + ${employee.id}}" class="text-danger">Delete</a></td>
						</tr>

					</table>
				</form>


				<div class="container col-12 text-right mt-5 mr-5" th:if="${#httpServletRequest.remoteUser}">
					<div>
						<span class="text-success f25">Welcome <span class="ml-1 text-info f16">[[${#httpServletRequest.remoteUser}]]</span></span> 
						<a th:href="@{/logout}">
							<button class="btn btn-danger p-2 mt-2 ml-2 mr-5">Logout</button>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>